@model IEnumerable<WebApp.Student1.Models.Students>

@{
    ViewData["Title"] = "Index";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>StudentID</th>
            <th>Student Name</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.StudentName</td>
                
            </tr>
        }
    </tbody>
</table>